$_primary_bg_color: #fecfb3;
$_secondary_bg_color: #e9ecf3;
$_header_bg_color: #ffaa96;
$_footer_bg_color: #e6887e;
$_titles_color: #ff5e5c;
$_navigation_color: #d62845;
$_text_color: #242320;
$_faq_primary_color: #fa6900;
$_faq_secondary_color: #fbdcc5;
$_faq_font_color: #fefeff;
$_details_color: #ec639f;
$_inactive_grey: #cccccc;
$_inactive_pink: #f1b0cc;
$_inactive_pink: #f1b0cc;
$_yellow_color: #f5b223;
$_pink_color: #eb65a0;
$_crimson_color: #fe4c64;
$_emerald_color: #1bc088;
$_star_color: #fbb52d;
$_white_color: #ffffff;
$_violet_color: #7b70f2;

$_primary_font: 'Nurito', sans-serif;
$_secondary_font: 'Bree Serif', serif;
