<section class="section">
  <div class="container">
    <!-- <img class="about-wave" src="public/aboutTop.png" /> -->
    <h2 class="sectionTitle">About the Game</h2>
    <img src="" alt="Phone screen with game rules" />
    <p>
      "Find A Way" is a captivating puzzle game that challenges players to
      connect dots with a continuous path without retracing any steps. Set in a
      minimalist yet visually appealing environment, the game offers hundreds of
      levels, each designed to test logical thinking and problem-solving skills.
      With its serene soundtrack and progressively challenging puzzles, it
      provides a relaxing yet mentally stimulating experience for players of all
      ages.
    </p>
  </div>
</section>
