<section class="section benefits">
  <div class="container">
    <!-- <img class="home-wave" src="public/benifitTop.png" /> -->
    <h2 class="sectionTitle">Benefits</h2>
    <ul class="benefits-list">
      <li>
        <p class="benefits-subtittle">Stars</p>
        <div class="benefits-star">
          <svg class="icon">
            <use href="./img/sprite.svg#icon-Star"></use>
          </svg>
          <p class="benefits-star">4,8</p>
        </div>
      </li>
      <li>
        <p class="benefits-subtittle">Downloads</p>
        <p class="benefits-star">50 000+</p>
      </li>
      <li>
        <p class="benefits-subtittle">Reviews</p>
        <p class="benefits-star">1 000+</p>
      </li>
      <li>
        <p class="benefits-subtittle">Game Mode</p>
        <p class="benefits-text benefits-star">Online/<br />Offline</p>
      </li>
    </ul>
  </div>
</section>
