<section class="section benefits">
  <div class="container">
    <!-- <img class="home-wave" src="public/benifitTop.png" /> -->
    <h2 class="sectionTitle">Benefits</h2>
    <ul class="benefits-list">
      <li>
        <p class="benefits-subtittle">Stars</p>
        <p class="benefits-text-start">4,8</p>
      </li>
      <li>
        <p class="benefits-subtittle">Downloads</p>
        <p>50 000+</p>
      </li>
      <li>
        <p class="benefits-subtittle">Reviews</p>
        <p>1 000+</p>
      </li>
      <li>
        <p class="benefits-subtittle">Game Mode</p>
        <p class="benefits-text">Online/<br />Offline</p>
      </li>
    </ul>
  </div>
</section>
