<section class="section faq-section" id="faq">
  <div class="container">
    <!-- <img class="about-wave" src="public/faqTop.png" /> -->
    <h2 class="sectionTitle">FAQ</h2>
    <ul class="faq-list">
      <li class="faq-item">
        <button
          class="button-triangle"
          type="button"
          aria-label="open answer button"
        >
          <svg class="icon">
            <use href="./img/sprite.svg#icon-triangle" />
          </svg>
        </button>
        <p class="question">How do I reset a level?</p>
        <p class="answer">Tap the reset button to start over.</p>
      </li>
      <li class="faq-item">
        <button
          class="button-triangle"
          type="button"
          aria-label="open answer button"
        >
          <svg class="icon">
            <use href="./img/sprite.svg#icon-triangle" />
          </svg>
        </button>
        <p class="question">Can I skip a level?</p>
        <p class="answer">Yes, you can use hints to help solve or skip.</p>
      </li>
      <li class="faq-item">
        <button
          class="button-triangle"
          type="button"
          aria-label="open answer button"
        >
          <svg class="icon">
            <use href="./img/sprite.svg#icon-triangle" />
          </svg>
        </button>
        <p class="question">Are there in-app purchases?</p>
        <p class="answer">Yes, you can buy hints and other perks.</p>
      </li>
      <li class="faq-item">
        <button
          class="button-triangle"
          type="button"
          aria-label="open answer button"
        >
          <svg class="icon">
            <use href="./img/sprite.svg#icon-triangle" />
          </svg>
        </button>
        <p class="question">Is it suitable for children?</p>
        <p class="answer">Absolutely, it enhances problem-solving skills.</p>
      </li>
      <li class="faq-item">
        <button
          class="button-triangle"
          type="button"
          aria-label="open answer button"
        >
          <svg class="icon">
            <use href="./img/sprite.svg#icon-triangle" />
          </svg>
        </button>
        <p class="question">How many levels are there?</p>
        <p class="answer">Over 500 levels with more added regularly.</p>
      </li>
      <li class="faq-item">
        <button
          class="button-triangle"
          type="button"
          aria-label="open answer button"
        >
          <svg class="icon">
            <use href="./img/sprite.svg#icon-triangle" />
          </svg>
        </button>
        <p class="question">Can I play offline?</p>
        <p class="answer">
          Yes, the game is fully playable without an internet connection.
        </p>
      </li>
    </ul>
  </div>
</section>
