<section class="section">
  <div class="container">
    <!-- <img class="about-wave" src="public/faqTop.png" /> -->
    <h2 class="sectionTitle">FAQ</h2>
    <ul>
      <li>
        <button type="button">
          <svg class="icon">
            <use href="" />
          </svg>
        </button>
        <p>How do I reset a level?</p>
        <p class="overlay">Tap the reset button to start over.</p>
      </li>
      <li>
        <button type="button">
          <svg class="icon">
            <use href="" />
          </svg>
        </button>
        <p>Can I skip a level?</p>
        <p class="overlay">Yes, you can use hints to help solve or skip.</p>
      </li>
      <li>
        <button type="button">
          <svg class="icon">
            <use href="" />
          </svg>
        </button>
        <p>Are there in-app purchases?</p>
        <p class="overlay">Yes, you can buy hints and other perks.</p>
      </li>
      <li>
        <button type="button">
          <svg class="icon">
            <use href="" />
          </svg>
        </button>
        <p>Is it suitable for children?</p>
        <p class="overlay">Absolutely, it enhances problem-solving skills.</p>
      </li>
      <li>
        <button type="button">
          <svg class="icon">
            <use href="" />
          </svg>
        </button>
        <p>How many levels are there?</p>
        <p class="overlay">Over 500 levels with more added regularly.</p>
      </li>
      <li>
        <button type="button">
          <svg class="icon">
            <use href="" />
          </svg>
        </button>
        <p>Can I play offline?</p>
        <p class="overlay">
          Yes, the game is fully playable without an internet connection.
        </p>
      </li>
    </ul>
  </div>
</section>
