<section class="section">
  <div class="container">
    <!-- <img class="about-wave" src="public/faqTop.png" /> -->
    <h2 class="sectionTitle">FAQ</h2>
    <ul>
      <li>
        <p>How do I reset a level?</p>
        <div class="overlay">
          <p>Tap the reset button to start over.</p>
        </div>
      </li>
      <li>
        <p>Can I skip a level?</p>
        <div class="overlay">
          <p>Yes, you can use hints to help solve or skip.</p>
        </div>
      </li>
      <li>
        <p>Are there in-app purchases?</p>
        <div class="overlay">
          <p>Yes, you can buy hints and other perks.</p>
        </div>
      </li>
      <li>
        <p>Is it suitable for children?</p>
        <div class="overlay">
          <p>Absolutely, it enhances problem-solving skills.</p>
        </div>
      </li>
      <li>
        <p>How many levels are there?</p>
        <div class="overlay">
          <p>Over 500 levels with more added regularly.</p>
        </div>
      </li>
      <li>
        <p>Can I play offline?</p>
        <div class="overlay">
          <p>Yes, the game is fully playable without an internet connection.</p>
        </div>
      </li>
    </ul>
  </div>
</section>
