<header class="section header">
  <div class="container header-container">
    <a class="logo" href="./index.html">
      <svg class="icon">
        <use href="./img/sprite.svg#icon-Logo"></use>
      </svg>
    </a>
    <button class="menu">
      <svg width="44" height="44">
        <use href="./img/sprite.svg#icon-menu"></use>
      </svg>
    </button>
    <nav class="header-nav">
      <ul>
        <li><a href="./index.html">Home</a></li>
        <li><a href="#gallery">Gallery</a></li>
        <li><a href="#aboutTheGame">About the Game</a></li>
        <li><a href="#faq">FAQ</a></li>
        <li><a href="#howToPlay">How to Play</a></li>
        <li><a href="#reviews">Reviews</a></li>
        <li><a href="#benefits">Benefits</a></li>
      </ul>
    </nav>
    <!-- <load src="partials/burgerMenu.html" /> -->
  </div>
</header>
