<section id="home" class="section home-section">
  <div class="container home-container">
    <div class="display-img-wrapper">
      <picture>
        <source
          srcset="
            ./img/home/display_with_blue_dots_@1x_webp.webp 1x,
            ./img/home/display_with_blue_dots_@2x_webp.webp 2x
          "
          type="image/webp"
        />
        <source
          srcset="
            ./img/home/display_with_blue_dots_@1x_png.png 1x,
            ./img/home/display_with_blue_dots_@2x_png.png 2x
          "
          type="image/png"
        />
        <img
          class="display-blue-dots"
          src="./img/home/display_with_blue_dots_@1x_png.png"
          alt="Game with blue dots"
          width="122"
          height="258"
        />
      </picture>
      <picture>
        <source
          srcset="
            ./img/home/display_with_green_dots_@1x_webp.webp 1x,
            ./img/home/display_with_green_dots_@2x_webp.webp 2x
          "
          type="image/webp"
        />
        <source
          srcset="
            ./img/home/display_with_green_dots_@1x_png.png 1x,
            ./img/home/display_with_green_dots_@2x_png.png 2x
          "
          type="image/png"
        />
        <img
          class="display-green-dots"
          src="./img/home/display_with_green_dots_@1x_png.png"
          alt="Game with blue dots"
          width="122"
          height="258"
        />
      </picture>
    </div>
    <h1 class="main-title">Find A Way: Addictive Puzzle</h1>
    <a
      class="play-market-link"
      target="_blank"
      aria-label="Google Play Link"
      href="https://play.google.com/store/apps/details?id=com.zerologicgames.findaway"
      ><svg class="play-market-logo">
        <use href="./img/sprite.svg#icon-play-market" />
      </svg>
    </a>

    <p class="disclaimer">
      <span>Disclaimer!</span>GREATJOYHUB.COM IS A PLATFORM FOR HAVING FUN. THE
      PROBABILITY OF WINNING PLAYING THIS GAME CANNOT BE CONSIDERED THE SAME AS
      WINNING IN REAL LIFE GAMES. GAME IS AVAILABLE TO ADULT AUDIENCES OVER 18
      YEARS OF AGE. ENJOY PLAYING THIS GAME!
    </p>
    <svg class="gray-puzzle" role="img" aria-label="Gray puzzle">
      <use href="./img/sprite.svg#icon-puzzle" />
    </svg>
    <svg class="violet-puzzle" role="img" aria-label="Violet puzzle">
      <use href="./img/sprite.svg#icon-puzzle" />
    </svg>
  </div>
</section>
