<section class="section" id="howToPlay">
  <div class="container">
    <h2 class="sectionTitle">How to Play</h2>
    <ol>
      <li>
        <p>Start at any dot on the grid</p>
      </li>
      <li>
        <p>Draw a line to connect to another dot</p>
      </li>
      <li>
        <p>Continue connecting dots, ensuring you don’t overlap lines</p>
      </li>
      <li>
        <p>Cover all dots on the board to complete the level</p>
      </li>
      <li>
        <p>Use hints if you get stuck</p>
      </li>
      <li>
        <p>Levels become more challenging as new elements are introduced</p>
      </li>
      <li>
        <p>Complete daily challenges to earn extra rewards</p>
      </li>
      <li>
        <p>Progress through various chapters, each with unique themes</p>
      </li>
    </ol>
    <picture>
      <source
        srcset="./img/howToPlay/gray_wave_how_to_play_desktop.png"
        type="image/png"
        media="(min-width: 1440px)"
      />
      <source
        srcset="./img/howToPlay/gray_wave_how_to_play_mobile.png"
        type="image/png"
        media="(min-width: 320px)"
      />
      <img
        loading="lazy"
        class="how-to-play-gray-wave"
        src="./img/howToPlay/gray_wave_how_to_play_desktop.png"
        alt="decoration-gray-wave"
        width="1440"
        height="60"
      />
    </picture>
    <picture>
      <source
        srcset="./img/howToPlay/orange_wave_how_to_play_desktop.png"
        type="image/png"
        media="(min-width: 1440px)"
      />
      <source
        srcset="./img/howToPlay/orange_wave_how_to_play_mobile.png"
        type="image/png"
        media="(min-width: 320px)"
      />
      <img
        loading="lazy"
        class="how-to-play-orange-wave"
        src="./img/howToPlay/orange_wave_how_to_play_desktop.png"
        alt="decoration-orange-wave"
        width="1440"
        height="60"
      />
    </picture>
  </div>
</section>
