<section class="section how-to-play-section" id="howToPlay">
  <div class="container">
    <h2 class="sectionTitle">How to Play</h2>
    <ol class="howToPlay-list">
      <li>
        <p class="howToPlay-text" data-number="text">
          Start at any dot on the grid
        </p>
      </li>
      <li>
        <p class="howToPlay-text" data-number="text">
          Draw a line to connect to another dot
        </p>
      </li>
      <li>
        <p class="howToPlay-text" data-number="text">
          Continue connecting dots, ensuring you don’t overlap lines
        </p>
      </li>
      <li>
        <p class="howToPlay-text" data-number="text">
          Cover all dots on the board to complete the level
        </p>
      </li>
      <li>
        <p class="howToPlay-text" data-number="text">
          Use hints if you get stuck
        </p>
      </li>
      <li>
        <p class="howToPlay-text" data-number="text">
          Levels become more challenging as new elements are introduced
        </p>
      </li>
      <li>
        <p class="howToPlay-text" data-number="text">
          Complete daily challenges to earn extra rewards
        </p>
      </li>
      <li>
        <p class="howToPlay-text" data-number="text">
          Progress through various chapters, each with unique themes
        </p>
      </li>
    </ol>
  </div>
</section>
