<section class="section review-section" id="reviews">
  <div class="container review-container">
    <!-- <img class="home-wave" src="/public/reviewTop.png" /> -->
    <h2 class="sectionTitle">Reviews</h2>
    <div class="review-swiper-container">
      <div class="swiper review-swiper">
        <ul class="swiper-wrapper review-swiper-wrapper">
          <li class="swiper-slide review-slide">
            <p>"Perfect blend of challenge and relaxation!"</p>
            <div>
              <svg><use href="./img/sprite.svg#icon-review-puzzle" /></svg>
              <span>LogicalLaura</span>
            </div>
          </li>
          <li class="swiper-slide review-slide">
            <p>"Every level is a new adventure. Highly addictive!"</p>
            <div>
              <svg><use href="./img/sprite.svg#icon-review-puzzle" /></svg>
              <span>PuzzleProPeter</span>
            </div>
          </li>
          <li class="swiper-slide review-slide">
            <p>"Love the soothing music and clean graphics."</p>
            <div>
              <svg><use href="./img/sprite.svg#icon-review-puzzle" /></svg>
              <span>CalmCarol</span>
            </div>
          </li>
          <li class="swiper-slide review-slide">
            <p>"Great for keeping your brain sharp and entertained."</p>
            <div>
              <svg><use href="./img/sprite.svg#icon-review-puzzle" /></svg>
              <span>SmartSally</span>
            </div>
          </li>
          <li class="swiper-slide review-slide">
            <p>"It really makes you think outside the box."</p>
            <div>
              <svg><use href="./img/sprite.svg#icon-review-puzzle" /></svg>
              <span>ChallengeChad</span>
            </div>
          </li>
          <li class="swiper-slide review-slide">
            <p>"I appreciate the complexity as you progress."</p>
            <div>
              <svg><use href="./img/sprite.svg#icon-review-puzzle" /></svg>
              <span>MazeMasterMike</span>
            </div>
          </li>
          <li class="swiper-slide review-slide">
            <p>"Ideal for quick gaming sessions to kill time."</p>
            <div>
              <svg><use href="./img/sprite.svg#icon-review-puzzle" /></svg>
              <span>BrainyBecky</span>
            </div>
          </li>
          <li class="swiper-slide review-slide">
            <p>"The hint system is helpful without making it too easy."</p>
            <div>
              <svg><use href="./img/sprite.svg#icon-review-puzzle" /></svg>
              <span>PonderingPaul</span>
            </div>
          </li>
          <li class="swiper-slide review-slide">
            <p>"I`ve completed all levels and can`t wait for more."</p>
            <div>
              <svg><use href="./img/sprite.svg#icon-review-puzzle" /></svg>
              <span>DedicatedDiane</span>
            </div>
          </li>
          <li class="swiper-slide review-slide">
            <p>"Captivating puzzles that keep me coming back."</p>
            <div>
              <svg><use href="./img/sprite.svg#icon-review-puzzle" /></svg>
              <span>EnthusiasticEmma</span>
            </div>
          </li>
          <li class="swiper-slide review-slide">
            <p>"It's challenging, fun, and really makes you concentrate."</p>
            <div>
              <svg><use href="./img/sprite.svg#icon-review-puzzle" /></svg>
              <span>FocusedFred</span>
            </div>
          </li>
          <li class="swiper-slide review-slide">
            <p>"A must-try for anyone who loves brain teasers!"</p>
            <div>
              <svg><use href="./img/sprite.svg#icon-review-puzzle" /></svg>
              <span>PuzzleLoverPat</span>
            </div>
          </li>
        </ul>
      </div>

      <div class="nav-wrapper">
        <button type="button" class="prev-review">
          <svg><use href="./img/sprite.svg#icon-arrow-left" /></svg>
        </button>
        <div class="review-swiper-pagination">
          <svg class="pagination-bullet">
            <use href="./img/sprite.svg#icon-pagination" />
          </svg>
        </div>
        <button type="button" class="next-review">
          <svg><use href="./img/sprite.svg#icon-arrow-right" /></svg>
        </button>
      </div>
    </div>
        </picture>
    <picture>
      <source
        srcset="./img/reviews/gray_wave_reviews_desktop.png"
        type="image/png"
        media="(min-width: 1440px)"
      />
      <source
        srcset="./img/reviews/gray_wave_reviews_mobile.png"
        type="image/png"
        media="(min-width: 320px)"
      />
      <img
        loading="lazy"
        class="reviews-wave"
        src="./img/reviews/gray_wave_reviews_desktop.png"
        alt="decoration-wave"
        width="1440"
        height="60"
      />
    </picture>
  </div>
</section>
