.inner-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  @include media(desktop) {
    flex-direction: row;
    gap: 115px;
    padding: 0 110px 0 149px;
  }
}
.about-the-game-img {
  width: 140px;
  height: 288px;
  margin: 0 auto;

  transform: rotate(-12deg);
  @include media(desktop) {
    width: 236px;
    height: 484px;
    margin-bottom: 0;
    transform: translateY(-90px) rotate(-12deg);
  }
}
.about-the-game-text {
  @include font(14, 20);
  padding: 0 8px;
  @include media(desktop) {
    @include font(24, 36);
    width: 636px;
    padding: 0;
  }
}
.about-the-game-wave {
  position: absolute;
  width: 100%;
  left: 0;
  top: -71px;

  @include media(desktop) {
    width: calc(100% - 2px);
    top: -156px;
  }
}
