.footer {
  .container {
    padding: 20px 16px;
    border-top: 2px solid $_navigation_color;
    background-color: $_footer_bg_color;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    align-items: center;
    text-align: center;

    @include media(desktop) {
      padding: 40px 72px;
      flex-direction: row-reverse;
      gap: 0;
      justify-content: end;
    }

    .list {
      @include media(desktop) {
        display: flex;
        gap: 28px;
        align-items: center;
        justify-content: end;
      }
    }

    a {
      text-decoration-line: underline;
      font-size: 14px;
      transition: color 0.2s linear;

      @include media(desktop) {
        font-size: 16px;
      }
    }

    a:hover {
      color: $_hovered_link_color;
    }

    a:focus {
      color: $_pressed_link_color;
    }

    p {
      font-size: 10px;

      @include media(desktop) {
        font-size: 16px;
        margin-right: 214px;
        width: 350px;
      }
    }
  }
}
