.section.gallery-section {
  background-color: $_secondary_bg_color;
  background-image: image-set(
      url(../img/decorativeWave/orange_wave_gallery_top_mobile.webp),
      url(../img/decorativeWave/orange_wave_gallery_top_mobile.png)
    ),
    image-set(
      url(../img/decorativeWave/orange_wave_gallery_bottom_mobile.webp),
      url(../img/decorativeWave/orange_wave_gallery_bottom_mobile.png)
    );
  background-position: center top, center bottom -1px;
  @include media(desktop) {
    background-image: image-set(
        url(../img/decorativeWave/orange_wave_gallery_top_desktop.webp),
        url(../img/decorativeWave/orange_wave_gallery_top_desktop.png)
      ),
      image-set(
        url(../img/decorativeWave/orange_wave_gallery_bottom_desktop.webp),
        url(../img/decorativeWave/orange_wave_gallery_bottom_desktop.png)
      );
  }
}
.container.gallery-container {
  padding: 0;
  @include media(desktop) {
    padding: 0 110px 32px 110px;
  }
}
.gallery-swiper-container {
  width: 316px;
  overflow: hidden;
  margin-bottom: 15px;
  @include media(desktop) {
    width: 1076px;
    padding: 0 32px;
    margin: 0 auto;
    margin-bottom: 32px;
  }
}
.swiper.gallery-swiper {
  width: 196px;
  height: 357px;
  overflow: visible;

  @include media(desktop) {
    margin-left: 0;
    width: 654px;
    height: 545px;
  }
}
.gallery-bullet-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 28px;
  @include media(desktop) {
    height: 48px;
  }
}

.gallery-nav-wrapper {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 28px;
  gap: 86px;
  left: 0;
  bottom: 0;
  @include media(desktop) {
    gap: 0;
    height: 48px;
    padding: 0 110px;
    justify-content: space-between;
    top: 347px;
  }
  button {
    width: 28px;
    height: 100%;
    background-color: transparent;
    @include media(desktop) {
      width: 48px;
    }
  }
  svg {
    width: 100%;
    height: 100%;
    fill: $_details_color;
    transition: $_transition;
  }
}
.prev-img-btn {
  transform: rotate(180deg);
}
.prev-img-btn.swiper-button-disabled,
.next-img-btn.swiper-button-disabled,
.prev-img-btn.swiper-button-disabled:hover,
.next-img-btn.swiper-button-disabled:hover,
.prev-img-btn.swiper-button-disabled:active,
.next-img-btn.swiper-button-disabled:active {
  svg {
    fill: #f1b0cc;
  }
}
.prev-img-btn:hover,
.next-img-btn:hover {
  svg {
    fill: $_hovered_button_color;
  }
}
.prev-img-btn:active,
.next-img-btn:active {
  svg {
    fill: $_pressed_button_color;
  }
}
svg.gallery-pagination-bullet {
  width: 54px;
  height: 14px;
  display: inline-flex;
  justify-content: center;
  --first-bullet: #ec639f;
  --second-bullet: #cccccc;
  --third-bullet: #cccccc;
  @include media(desktop) {
    width: 84px;
    height: 20px;
  }
}

svg.last-slide-active {
  --first-bullet: #cccccc;
  --second-bullet: #cccccc;
  --third-bullet: #ec639f;
}

svg.slide-active {
  --first-bullet: #cccccc;
  --second-bullet: #ec639f;
  --third-bullet: #cccccc;
}
