.home-section {
  padding-top: 107px;
  padding-bottom: 44px;
  @include media(desktop) {
    padding-top: 252px;
    padding-bottom: 80px;
  }
}

.home-container {
  position: relative;
}

.main-title {
  position: relative;
  z-index: 1;
  color: $_titles_color;
  font-family: $_secondary_font;
  margin-bottom: 20px;
  @include font(36, 42);
  @include media(desktop) {
    width: 746px;
    margin-bottom: 100px;
    @include font(98, 108);
  }
}
.play-market-link {
  width: 184px;
  height: 52px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  margin-bottom: 21px;
  transition: all 300ms ease-in-out;
  @include media(desktop) {
    width: 306px;
    height: 90px;
    margin-bottom: 98px;
  }
}

.play-market-logo {
  width: 100%;
  height: 100%;
  fill: #fff;
}

.play-market-link:hover .play-market-logo {
  fill: #ece9e9;
}
.play-market-link:active .play-market-logo {
  fill: #e2d8d8;
}

.display-img-wrapper {
  position: relative;
  width: 223px;
  height: 248px;
  margin: 0 auto;
  margin-bottom: 33px;
  @include media(desktop) {
    width: 456px;
    height: 540px;
    position: absolute;
    right: 96px;
    top: -71px;
  }
}

.display-blue-dots {
  width: 118px;
  height: 248px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  transform: rotate(0deg);
  animation: rotateAnimationBlue 6600ms ease-in-out infinite;
  @include media(desktop) {
    width: 248px;
    height: 540px;
  }
}
.display-green-dots {
  width: 110px;
  height: 228px;
  position: absolute;

  right: 3px;
  bottom: 1px;
  transform: rotate(12deg);
  animation: rotateAnimationGreen 6600ms ease-in-out infinite;
  @include media(desktop) {
    width: 227px;
    height: 494px;
    transform: rotate(15deg);
  }
}

@keyframes rotateAnimationBlue {
  0% {
    transform: rotate(0deg);
  }
  12.12% {
    transform: rotate(-2deg);
  }
  24.24% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes rotateAnimationGreen {
  0% {
    transform: rotate(12deg);
  }
  12.12% {
    transform: rotate(18deg);
  }
  24.24% {
    transform: rotate(12deg);
  }
  100% {
    transform: rotate(12deg);
  }
  @include media(desktop) {
    0% {
      transform: rotate(15deg);
    }
    12.12% {
      transform: rotate(21deg);
    }
    24.24% {
      transform: rotate(15deg);
    }
    100% {
      transform: rotate(15deg);
    }
  }
}

.disclaimer {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  gap: 8px;
  @include font(10, 16);
  @include media(desktop) {
    @include font(14, 20);
    width: 636px;
  }
  span {
    font-weight: 700;
    @include font(12, 18);
    @include media(desktop) {
      @include font(14, 20);
    }
  }
}

.home-wave {
  position: absolute;
  width: 318px;
  left: -1px;
  bottom: -58px;
  @include media(desktop) {
    width: 1436px;
    bottom: -143px;
  }
}
.gray-puzzle {
  position: absolute;
  fill: rgba(248, 248, 248, 0.5);
  transform: rotate(-29deg);
  width: 83px;
  height: 76px;
  top: 256px;
  left: 36px;
  @include media(desktop) {
    width: 331px;
    height: 303px;
    top: -80px;
    left: 61px;
  }
}
.violet-puzzle {
  position: absolute;
  fill: rgba(230, 172, 251, 0.5);
  transform: rotate(129deg);
  width: 48px;
  height: 42px;
  bottom: 195px;
  right: 43px;
  @include media(desktop) {
    width: 193px;
    height: 177px;
    top: 154px;
    left: 390px;
  }
}
