.section.how-to-play-section {
  background-image: url(../img/decorativeWave/gray_wave_how_to_play_top_mobile.png);
  background-repeat: no-repeat;
  @include media(desktop) {
    background-image: url(../img/decorativeWave/gray_wave_how_to_play_top_desktop.png);
  }
}
