.how-to-play-gray-wave {
  position: absolute;
  width: 100%;
  left: 0;
  top: -46px;

  @include media(desktop) {
    width: calc(100% - 2px);
    top: -81px;
  }
}
.how-to-play-orange-wave {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -78px;

  @include media(desktop) {
    width: calc(100% - 2px);
    bottom: -191px;
  }
}
