.section.review-section {
  background-color: $_secondary_bg_color;
  background-image: url(../img/decorativeWave/orange_wave_reviews_top_mobile.png);
  background-repeat: no-repeat;
  @include media(desktop) {
    background-image: url(../img/decorativeWave/orange_wave_reviews_top_desktop.png);
  }
}
.container.review-container {
  padding: 0;
}

.review-swiper-container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 12px;
  @include media(desktop) {
    margin-bottom: 24px;
  }
}

.swiper.review-swiper {
  width: 220px;
  height: 256px;
  padding: 18px 0;
  overflow: visible;
  @include media(desktop) {
    width: 254px;
    height: 304px;
    padding: 20px 0;
  }
}

.swiper-slide.review-slide {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $_white_color;
  border-radius: 14px;
  box-shadow: 26.667px 48.889px 33.778px 0px rgba(0, 0, 0, 0.05),
    2.667px 5.333px 13.333px 0px rgba(0, 0, 0, 0.1);
  transition: all 400ms ease-in-out;

  @include media(desktop) {
    padding: 24px;
    p {
      @include font(20, 22);
    }
  }
  p {
    @include font(18, 22);
  }
  div {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  svg {
    width: 48px;
    height: 48px;
  }
  span {
    color: $_crimson_color;
    @include font(14, 20);
    font-weight: 700;
  }
}
.swiper-slide.review-slide.swiper-slide-prev {
  transform: rotate(-10deg);
  transition: all 400ms ease-in-out;
}
.swiper-slide.review-slide.swiper-slide-active {
  transform: rotate(0deg);
  transition: all 400ms ease-in-out;
}
.swiper-slide.review-slide.swiper-slide-next {
  transform: rotate(10deg);
  transition: all 400ms ease-in-out;
}

.review-slide:nth-child(1) svg,
.review-slide:nth-child(8) svg {
  stroke: $_navigation_color;
  fill: $_navigation_color;
}
.review-slide:nth-child(2) svg,
.review-slide:nth-child(7) svg {
  stroke: $_green_color;
  fill: $_green_color;
}
.review-slide:nth-child(3) svg,
.review-slide:nth-child(9) svg {
  stroke: $_details_color;
  fill: $_details_color;
}
.review-slide:nth-child(4) svg {
  stroke: $_faq_primary_color;
  fill: $_faq_primary_color;
}
.review-slide:nth-child(5) svg,
.review-slide:nth-child(12) svg {
  stroke: $_blue_color;
  fill: $_blue_color;
}
.review-slide:nth-child(6) svg,
.review-slide:nth-child(10) svg {
  stroke: $_yellow_color;
  fill: $_yellow_color;
}
.review-slide:nth-child(11) svg {
  stroke: $_emerald_color;
  fill: $_emerald_color;
}

.review-nav-wrapper {
  display: flex;
  justify-content: center;
  gap: 25px;
  button {
    width: 28px;
    height: 28px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }

  svg {
    width: 100%;
    height: 100%;
    fill: $_details_color;
    transition: all 300ms ease-in-out;
  }
}

.prev-review:hover,
.next-review:hover {
  svg {
    fill: $_hovered_button_color;
  }
}
.prev-review:active,
.next-review:active {
  svg {
    fill: $_pressed_button_color;
  }
}

.prev-review.swiper-button-disabled,
.next-review.swiper-button-disabled,
.prev-review.swiper-button-disabled:hover,
.next-review.swiper-button-disabled:hover,
.prev-review.swiper-button-disabled:active,
.next-review.swiper-button-disabled:active {
  svg {
    fill: #f1b0cc;
  }
}

.left-rotate {
  transform: rotate(-10deg);
}
.right-rotate {
  transform: rotate(10deg);
}

.review-swiper-pagination {
  display: flex;
  align-items: center;
}

svg.review-pagination-bullet {
  width: 54px;
  height: 14px;
  --first-bullet: #ec639f;
  --second-bullet: #cccccc;
  --third-bullet: #cccccc;
  @include media(desktop) {
    width: 84px;
    height: 20px;
  }
}

svg.last-slide-active {
  --first-bullet: #cccccc;
  --second-bullet: #cccccc;
  --third-bullet: #ec639f;
}

svg.slide-active {
  --first-bullet: #cccccc;
  --second-bullet: #ec639f;
  --third-bullet: #cccccc;
}
