@import url('./header.scss');
@import url('./burgerMenu.scss');
@import url('./home.scss');
@import url('./gallery.scss');
@import url('./aboutTheGame.scss');
@import url('./faq.scss');
@import url('./howToPlay.scss');
@import url('./reviews.scss');
@import url('./benefits.scss');
@import url('./privacyPolicy.scss');
@import url('./termsOfUse.scss');
@import url('./footer.scss');

:root {
  font-family: $_primary_font;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;
  color: $_text_color;
  background-color: $_viewport_bg_color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.section {
  width: $mobile;
  background-color: $_primary_bg_color;
  //need add vertical padding
  @include media(desktop) {
    width: $desktop;
    //need add vertical padding
  }
}
.docSection {
  width: $mobile;
  //need add vertical padding
  @include media(desktop) {
    width: $desktop;
    padding: 192px 0 82px 0;
  }
}
.container {
  width: $mobile;
  //need add horizontal padding
  margin: 0 auto;
  @include media(desktop) {
    width: $desktop;
    padding: 0 72px;
  }
}
.docContainer {
  //need add horizontal padding
  @include media(desktop) {
    padding: 0 182px;
  }
}
.sectionTitle {
  font-family: $_secondary_font;
  color: $_titles_color;
  text-align: center;
  //  @include font(60, 108);
  @include media(desktop) {
    @include font(60, 108);
  }
}
