@import 'node_modules/modern-normalize/modern-normalize.css';
@import url('./header.scss');
@import url('./burgerMenu.scss');
@import url('./home.scss');
@import url('./gallery.scss');
@import url('./aboutTheGame.scss');
@import url('./faq.scss');
@import url('./howToPlay.scss');
@import url('./reviews.scss');
@import url('./benefits.scss');
@import url('./privacyPolicy.scss');
@import url('./termsOfUse.scss');
@import url('./footer.scss');

:root {
  font-family: $_primary_font;
  font-size: 16px;
  line-height: normal;
  font-weight: 400;
  font-style: normal;
  color: $_text_color;
  background-image: linear-gradient(
    153deg,
    #cedef2 2.29%,
    #faebc7 44.91%,
    #feb4a9 86.69%
  );
  overflow-x: hidden;
  overflow-y: auto;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

:root::-webkit-scrollbar {
  width: 8px;
}

:root::-webkit-scrollbar-thumb {
  background-color: $_navigation_color;
  border-radius: 6px;
  border: 3px solid transparent;
  background-clip: padding-box;
}

:root::-webkit-scrollbar-track {
  background-color: none;
}

.section {
  width: $mobile;
  margin: 0 auto;
  padding: 44px 0;
  background-repeat: no-repeat;
  background-color: $_primary_bg_color;
  @include media(desktop) {
    width: $desktop;
    padding: 80px 0;
  }
}

.docSection {
  padding: 120px 0 44px 0;
  @include media(desktop) {
    padding: 192px 0 80px 0;
  }
}

.container {
  width: 100%;
  padding: 0 16px;
  position: relative;

  @include media(desktop) {
    width: $desktop;
    padding: 0px 72px;
  }
}
.docContainer {
  padding: 0 24px;
  overflow: hidden;
  @include media(desktop) {
    padding: 0 182px;
  }
}
.sectionTitle {
  font-family: $_secondary_font;
  color: $_titles_color;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  height: 32px;
  margin-bottom: 28px;
  @include font(36, 20);
  @include media(desktop) {
    @include font(60, 108);
    margin-bottom: 60px;
    height: 40px;
  }
}
