@import 'node_modules/modern-normalize/modern-normalize.css';
@import url('./header.scss');
@import url('./burgerMenu.scss');
@import url('./home.scss');
@import url('./gallery.scss');
@import url('./aboutTheGame.scss');
@import url('./faq.scss');
@import url('./howToPlay.scss');
@import url('./reviews.scss');
@import url('./benefits.scss');
@import url('./privacyPolicy.scss');
@import url('./termsOfUse.scss');
@import url('./footer.scss');

:root {
  font-family: $_primary_font;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;
  color: $_text_color;
  background-color: $_viewport_bg_color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.section {
  width: $mobile;
  margin: 0 auto;
  background-color: $_primary_bg_color;
  // border: 1px solid red;
  border-left: 2px solid $_footer_bg_color;
  border-right: 2px solid $_footer_bg_color;
  //need add vertical padding
  @include media(desktop) {
    width: $desktop;
    //need add vertical padding
  }
}
.docSection {
  width: $mobile;
  background-color: $_primary_bg_color;
  margin: 0 auto;
  padding: 85px 0 82px 0;
  //need add vertical padding
  @include media(desktop) {
    width: $desktop;
    padding: 117px 0 82px 0;
  }
}
.container {
  width: 100%;
  padding: 0 16px;
  @include media(desktop) {
    width: $desktop;
    padding: 0 72px;
  }
}
.docContainer {
  padding: 44px 24px;
  //need add horizontal padding
  @include media(desktop) {
    padding: 80px 182px;
  }
}
.sectionTitle {
  font-family: $_secondary_font;
  color: $_titles_color;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  height: 32px;
  margin-bottom: 28px;
  @include font(36, 20);
  //  @include font(60, 108);
  @include media(desktop) {
    @include font(60, 108);
    margin-bottom: 60px;
    height: 40px;
  }
}
